{% extends "VentesBundle::layout_ventes.html.twig" %}

{% block container_ventes %} 
    {% if client is defined %}
        <div class="row">
            <div class="col-md-6">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                        <h2>Infos client</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>Catégorie</th>
                                    <td>{{ client.categorie }}</td>
                                </tr>
                                <tr>
                                    <th>Numéro</th>
                                    <td>{{ client.numero }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{client.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ client.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ client.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>Mail</th>
                                    <td>{{ client.mail }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                        <h4>Infos facture</h4>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Numero</th>
                                    <td>{{ facture.numero }}</td>
                                </tr>
                                <tr>
                                    <th>Type de facture</th>
                                    <td>{{ facture.typeFacture }}</td>
                                </tr>
                                <tr>
                                    <th>Total facture</th>
                                    <td>{{ facture.totalFacture|number_format(0,',',' ') }}</td>
                                </tr>

                                <tr>
                                    <th>Date facture</th>
                                    <td>{{ facture.dateFacture|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>Etat</th>
                                    <td><span class="label label-info">{{ facture.etat }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    {% endif %}

    <h3>Infos encaissements</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Date</th>
                <th>Mode</th>
                <th>Destination</th>
                <th>Edité par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>


                    <td>{{ entity.montant |number_format(0,',',' ')}}</td>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.mode }}</td>
                    <td>{{ entity.destination }}</td>
                    <td>
                        {%if entity.utilisateur is not null %} 
                            {{entity.utilisateur.username|capitalize}}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ path('encaissement_show', { 'id': entity.id }) }}">Détails</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if client is defined %}
        <a class="btn btn-success" target='_blank' href="{{ path('encaissement_print', { 'idfact': facture.id }) }}" ><i class="fa fa-file-pdf-o"></i> Etat des Paiements</a>
    {% endif %}
{% endblock %}
