
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>

            body {
                height: 297mm;/*297*/
                width: 210mm;
            }
            .invoice-box{
                max-width:800px;
                margin-left: 50px;
                padding:30px;
                font-size:16px;
                line-height:24px;
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color:#555;
                height: 842px;
            }

            .invoice-box table{
                width:100%;
                line-height:inherit;
                text-align:left;
            }

            .invoice-box table td{
                padding:5px;
                vertical-align:top;
            }

            .invoice-box table tr td:nth-child(2){
                text-align:left;
            }

            .invoice-box table tr.top table td{
                padding-bottom:20px;
            }

            .invoice-box table tr.top table td.title{
                font-size:45px;
                line-height:45px;
                color:#333;
            }

            .invoice-box table tr.information table td{
                padding-bottom:40px;
            }

            .invoice-box table tr.heading td{
                background:#eee;
                border-bottom:1px solid #ddd;
                font-weight:bold;
            }

            .invoice-box table tr.details td{
                padding-bottom:20px;
            }

            .invoice-box table tr.item td{
                border-bottom:1px solid #eee;
            }

            .invoice-box table tr.item.last td{
                border-bottom:none;
            }

            .invoice-box table tr.total td:nth-child(2){
                border-top:2px solid #eee;
                font-weight:bold;
            }
            tr{
                border-bottom: 2px solid #eee !important;
            }

            @media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }

                .invoice-box table tr.information table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }
            }
        </style>
    </head>

    <body>

        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <tr class="top">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td >
                                    <h2> Liste des employés</h2>  
                                </td>
                                <td style="text-align: right">
                                    Date: {{ 'now'|date('d/m/Y') }} 
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="heading">
                    <td width="10%">Nom</td>
                    <td width="20%">Prenom</td>
                    <td width="20%">Fonction</td>
                    <td width="20%">Tel</td>
                    <td width="20%">Email</td>
                </tr>
                {% for entity in entities  %}  
                    <tr class="even pointer" >
                        <td>{{ entity.nomemp }}</td>
                        <td>{{ entity.prenomemp }} </td>
                        <td>{{ entity.fonction  }} </td>
                        <td>{{ entity.celemp  }} </td>	
                        <td>{{ entity.emailemp }} </td>								 
                    </tr>
                {% endfor %}

            </table>

        </div>
    </body>
</html>
