{% extends 'GestionBundle::layout_gestion.html.twig' %}

{% block container_gestion %}
    <h1>Contrat</h1>

<div class="row">
        <div class="col-md-5">
    <table class="table table-striped table-bordered">
        <tbody>
            
            <tr>
                <th>Type de contrat</th>
                <td>{{ entity.libcontrat }}</td>
            </tr>
            <tr>
                <th>Date entre</th>
                <td>{{ entity.dateentre|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ entity.datefin|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Numero cnps</th>
                <td>{{ entity.numcnps }}</td>
            </tr>
            <tr>
                <th>Date de cnps</th>
                <td>{{ entity.datecnps|date("d/m/Y") }}</td>
            </tr>
			<tr>
                <th>Voir contrat</th>
                <td><a href="{{ asset('uploads/contrats/' ~ entity.path) }}" target="blank"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
 <a class="btn btn-success "  href="{{ path('contrat', { 'idemp': entity.employe.id }) }}">
           Retour
        </a>
{% endblock %}
