
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            
            body {
                height: 297mm;/*297*/
                width: 210mm;
            }
            .invoice-box{
                max-width:800px;
                margin-left: 50px;
                padding:30px;
                font-size:16px;
                line-height:24px;
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color:#555;
                height: 842px;
            }

            .invoice-box table{
                width:100%;
                line-height:inherit;
                text-align:left;
            }
            td{
                font-size: 13px !important;
            }

            .invoice-box table td{
                padding:5px;
                vertical-align:top;
            }

            .invoice-box table tr td:nth-child(2){
                text-align:left;
            }

            .invoice-box table tr.top table td{
                padding-bottom:20px;
            }

            .invoice-box table tr.top table td.title{
                font-size:45px;
                line-height:45px;
                color:#333;
            }

            .invoice-box table tr.information table td{
                padding-bottom:40px;
            }

            .invoice-box table tr.heading td{
                background:#ccc;
                border-bottom:1px solid #ddd;
                font-weight:bold;
            }

            .invoice-box table tr.details td{
                padding-bottom:20px;
            }

            .invoice-box table tr.item td{
                border-bottom:1px solid #eee;
            }

            .invoice-box table tr.item.last td{
                border-bottom:none;
            }

            .invoice-box table tr.total td:nth-child(2){
                border-top:2px solid #eee;
                font-weight:bold;
            }
            tr{
                border-bottom: 2px solid #eee !important;
            }

            @media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }

                .invoice-box table tr.information table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }
            }
        </style>
    </head>

    <body>
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td class="title">
                                    {#<img src="{{ asset('design/dist/img/bosoft.png') }}" style="width:130%; max-width:130px;">#}
                                </td>

                                <td style="text-align: right">
                                    Abidjan, le {% if entity.dateFacture %}{{ entity.dateFacture|date('d/m/Y') }}{% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td style="text-align: left">
                                    <strong>Facture : </strong> {{ entity.numero }}<br />
                                    <strong>Num. Client :</strong> {{ entity.client.numero }}<br />
                                    <strong>Nom :</strong> {{ entity.client.nom }}<br />
                                    <strong>Adresse :</strong> {{ entity.client.adresse }}<br />
                                    <strong>Contact :</strong> {{ entity.client.telephone }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {# les produits #}
                {% set totalHT = 0 %}
                {% set totalTTC = 0 %}
                {% set totalRemiseOuReduction = 0   %}

                <tr>
                    <td colspan="5" style="text-transform: capitalize" align="left"><strong>Objet : &nbsp;</strong>{{ entity.typeFacture}}</td>
                </tr>
                {% if entity.detailsProduits|length != 0 %}
                    <tr class="heading">
                        <td width="10%">Réf.</td>
                        <td width="40%">Désignation</td>
                        <td>Qté</td>
                        <td align="right" width="20%">Prix HT</td>
                        <td align="right" width="20%">Montant</td>
                    </tr>
                    {% for prod in entity.detailsProduits %}
                        <tr class="item">
                            <td>{{ prod.refProd }}</td>
                            <td>{{ prod.libelle }}</td>
                            <td>{{ prod.quantite }}</td>
                            <td align="right">{{ prod.prixHT |number_format(0,',',' ')}}</td>
                            <td align="right">{{(prod.prixHT * prod.quantite)|number_format(0,',',' ')}} </td>
                        </tr>
                        {% set totalHT = totalHT + (prod.prixHT * prod.quantite) %}
                        {#% set totalTTC = totalTTC + (entity.prixproduit * tableauQte[entity.id])*18/100 %#}
                    {% endfor %}
                    <tr class="vide">
                        <td colspan="5"> &nbsp; </td>
                    </tr>
                    <tr class="total">
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;font-size: 14px">Total:</td>
                        <td align="right">{{ totalHT |number_format(0,',',' ')}}</td>
                    </tr>

                    {% if  entity.reduction > 0%}
                        <tr class="total">
                            <td colspan="2"></td>
                            <td colspan="2" style="text-align: right;font-size: 14px">Reduction :</td>
                            <td align="right"> - {{ entity.reduction |number_format(0,',',' ')}} </td>
                            {% set totalRemiseOuReduction = totalRemiseOuReduction + entity.reduction   %}
                        </tr>
                        <tr class="total">
                            <td colspan="2"></td>
                            <td colspan="2" style="text-align: right;font-size: 14px">Total après rémise:</td>
                            <td align="right" style="bottom: 0">{{ (totalHT - totalRemiseOuReduction)|number_format(0,',',' ')}}</td>
                        </tr>
                    {% elseif  entity.remise > 0%}
                    <tr class="total">
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;font-size: 14px">Remise ({{ entity.remise }} %):</td>
                        {% set totalRemiseOuReduction = totalRemiseOuReduction  + (totalHT * entity.remise/100) %}
                        <td align="right">- {{ totalRemiseOuReduction |number_format(0,',',' ')}} </td>
                    </tr>
                        <tr class="total">
                            <td colspan="2"></td>
                            <td colspan="2" style="text-align: right;font-size: 14px">Total après rémise:</td>
                            <td align="right" style="bottom: 0">{{ (totalHT - totalRemiseOuReduction)|number_format(0,',',' ')}}</td>
                        </tr>

                    {% endif %}


                    <tr class="total">
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;font-size: 14px">TVA ({{ entity.tvafacture |number_format(0,',',' ')}} %):</td>
                        <td align="right">{{ (( totalHT - totalRemiseOuReduction) * entity.tvafacture/100) |number_format(0,',',' ')}}</td>
                    </tr>
                    <tr class="total">
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;font-size: 24px"><strong>Total TTC:</strong></td>
                        <td align="right" ><strong><span style="text-align: right;font-size: 16px">{{ entity.totalFacture |number_format(0,',',' ')}}</span></strong></td>
                    </tr>
                    <tr class="total">
                        <td colspan="5"><strong>Arrêtée la présente facture à la somme de :</strong>
                            <blockquote><i>
                                    <span style="text-transform: uppercase;font-size: 16px">{{ chiffre_en_lettre}} Francs CFA</span> 
                            </i></blockquote>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="1" style="font-size: 10px"><u><strong>LA COMPTABILITE</strong></u></td>
                    </tr>

                {% endif %}
            </table>
        </div>
    </body>
</html>
