
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>

            body {
                height: 297mm;/*297*/
                width: 210mm;
            }
            .invoice-box{
                max-width:800px;
                margin-left: 50px;
                padding:30px;
                font-size:20px;
                line-height:24px;
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color:#555;
                height: 842px;
            }

            .invoice-box table{
                width:100%;
                line-height:inherit;
                text-align:left;
            }
            td{
                font-size: 18px !important;
            }

            .invoice-box table td{
                padding:5px;
                vertical-align:top;
            }

            .invoice-box table tr td:nth-child(2){
                text-align:left;
            }

            .invoice-box table tr.top table td{
                padding-bottom:20px;
            }

            .invoice-box table tr.top table td.title{
                font-size:45px;
                line-height:45px;
                color:#333;
            }

            .invoice-box table tr.information table td{
                padding-bottom:40px;
            }

            .invoice-box table tr.heading td{
                background:#ccc;
                border-bottom:1px solid #ddd;
                font-weight:bold;
            }

            .invoice-box table tr.details td{
                padding-bottom:20px;
            }

            .invoice-box table tr.item td{
                border-bottom:1px solid #eee;
            }

            .invoice-box table tr.item.last td{
                border-bottom:none;
            }

            .invoice-box table tr.total td:nth-child(2){
                border-top:2px solid #eee;
                font-weight:bold;
            }
            tr{
                border-bottom: 2px solid #eee !important;
            }

            @media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }

                .invoice-box table tr.information table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }
            }
        </style>
    </head>

    <body>
         <div class="invoice-box">
            <table cellpadding="0" cellspacing="0" class="table table-striped">
                <tr class="top">
                    <td colspan="5">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                     
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                   <h3 style="text-transform: uppercase;">BON {{ entity.flux }} DE CAISSE</h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
				
				

                <tr class="information">
                    <td >
                        <table class="table table-striped table-hover table-bordered">
						<tbody>
                            <tr>
                                <td style="text-align: left">
                                      <strong> Date: &nbsp; &nbsp;&nbsp; </strong> {{'now'|date('d/m/Y') }}<br />
                                    <strong>Nom :&nbsp; &nbsp;&nbsp;</strong> {{ entity.nom }}<br />
                                    <strong>Fonction :&nbsp; &nbsp;&nbsp;</strong> {{ entity.fonctionpersonres }}<br />
                                    <strong>Tel :</strong> {{ entity.telephone }}
                                </td>

                                <td>
                                </td>
                            </tr>
							</tbody>
                        </table>

                    </td>
                </tr>
               <table>
				<tr class="heading">
				<td>Numero</td>
                    <td>Type operation</td>
                    <td>Motif</td>
                    <td>Montant</td>
                </tr>
				 <tr class="even pointer" >
				        <td>{{ entity.id }}</td>
                         <td>{{ entity.flux }}</td>
                        <td>{{ entity.libelle|capitalize }}</td>	
						 <td>{{ entity.montant }} F CFA</td>
			
                <tr>
		</table>
                  <br>
                   <br>
                   <br>
                

                {% if entity.montant > 0 %}
                <tr class="total">
                    <td colspan="5"><strong>Portant sur la somme totale de :</strong>
                        <blockquote><i>
                                <span style="text-transform: uppercase;font-size: 16px">{{ chiffre_en_lettre}} Francs CFA</span> 
                            </i></blockquote>
                    </td>
                </tr>
                <tr>
				 <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    <td colspan="3" style="font-size: 10px"><u><strong>LA COMPTABILITE</strong></u></td>
                </tr>
                {% endif %}
            </table>
        </div>
    </body>
</html>
